// Define variables for your color scheme

// For example:
$red: #FF5154;
$light-red: #FFE7E7;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$light-orange: #FFF4D3;
$green: #0AAF90;
$light-green: #E2FFEE;
$gray: #2D2D2A;
$light-gray: #C8C8C8;
$white: #FFF;
