<div class="top-nav">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo_resized_192x192.png" %>
  <% end %>
  <p><strong><%= @title %></strong></p>
  <i class="fas fa-info-circle"></i>
</div>