<div class="container">
  <h2>Mes tickets</h2>
</div>

<div class="container">
<ol>
  <% @tickets.each do |ticket| %>
    <li>
      <%= link_to "Ticket n°#{ticket.id}", ticket_path(ticket) %>
      <%= link_to ticket_path(ticket), method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer ce ticket ?" } do %>
        <i class="far fa-trash-alt" id="delete"></i>
      <% end %>
    </li>
  <% end %>
</ol>
</div>
