<h1>Liste des tickets</h1>

<ul>
  <% @tickets.each do |ticket| %>
    <li>
      <%= link_to "Ticket numéro #{ticket.id}", ticket_path(ticket) %>
      <%= link_to ticket_path(ticket), method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer ce ticket ?" } do %>
        <i class="far fa-trash-alt" id="delete"></i>
      <% end %>
    </li>
  <% end %>
</ul>
