
  <video id="webcam" autoplay playsinline width="640" height="480" style="width: 100%;height: 100vh;object-fit: cover;position: fixed;top: 0"></video>
  <canvas id="canvas" class="d-none"></canvas>
  <button id="photo-take">photo</button>


<div class="container pt-5 col-6">
  <%= simple_form_for @ticket, multipart: true do |f| %>
    <%= f.input :photo, as: :hidden %>
  <% end %>
</div>
