<h1>This is the show of one ticket</h1>

<%= @ticket.photo %>

<%= link_to "Ajouter un ticket", new_ticket_path %>
<%= link_to "Supprimer un ticket", method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer ce ticket ?" } %>

