
<%= form_for(@item) do %>
  <%= label_tag(:bar_code, "Bar code:") %>
  <%= text_field_tag(:bar_code) %>
  <%= submit_tag("Search") %>
<% end %>

<div id="scandit-barcode-picker" style="width: 100%; height: 100%;"></div>
