<div class="container">
  <h1>Items</h1>
  <ul>
    <% @unidentified_items.each do |item| %>
      <li>
        <%= link_to item.description, item_path(item) %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "Voir l'analyse du ticket", ticket_path(@ticket) %>
