<h1><%= @unidentified_item.description %></h1>


<ul>
  <li>
    <%= link_to "Retour", ticket_items_path(@unidentified_item)  %>
  </li>
  <li>
    <%= link_to "Scanner le code barre du produits", edit_item_path(@unidentified_item) %>
  </li>
</ul>
