
 #badge-red{
  background-color: $light-red;
  color: $red;
 }

 #badge-orange{
  background-color: $light-orange;
  color: $orange;
 }

 #badge-green{
  background-color: $light-green;
  color: $green;
 }

  #badge-neutral{
  background-color: $light-gray;
  color: $gray;
  font-weight: 400;
 }

 #badge-category{
  background-color: $white;
  color: $green;
  border: 1px solid;
  border-radius: 5px;
 }
