
 #notfavorite {
  color: yellow;
 }

  #favorite {
  color: yellow;
 }

 #delete  {
  color: black;
 }


  // corbeille <i class="far fa-trash-alt"></i>
  // etoile pleine <i class="far fa-star"></i>
  // etoile vide <i class="fas fa-star"></i>

  // categories
  // vegetables <i class="fas fa-carrot"></i>

  // meat <i class="fas fa-drumstick-bite"></i>

  // pain et patisserie <i class="fas fa-bread-slice"></i>

  // surgelés <i class="far fa-snowflake"></i>

  // epicerie sucrée  <i class="fas fa-cookie-bite"></i>

  // hygiene <i class="fas fa-pump-soap"></i>

  // liquides <i class="fas fa-wine-bottle"></i>
