// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "badges";
@import "card";
@import "gallery";
@import "ticket-line";
@import "progress-circle";
@import "top-nav";
@import "buttons";
@import "list-items";
@import "search";

a {
  text-decoration: none;
  color: $gray;
  &:hover {
    text-decoration: none;
    font-weight: bold;
    color: $gray;
  }
}

.content-wrapper {
  min-height: calc(100vh - 8vh - 6vh);
}

ul {
  margin: 0;
}
