// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "icons";
a {
  text-decoration: none;
  color: $green;
  &:hover {
    text-decoration: none;
    font-weight: bold;
    color: $green;
  }
}

.content-wrapper {
  min-height: calc(100vh - 8vh);
}
