.ticket-line {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $light-gray;
    padding: 5px 0px;
}

.ticket-line-info {
  flex-grow: 1;
  padding: 0px 10px;
  margin: 0.5rem 0;
}

.ticket-line .product-brand {
  color:$gray;
  margin: 0;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.ticket-line .product-name {
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.ticket-title{
  display: flex;
  justify-content: space-between;
  h1{
    margin: 0px;
  }
}

.product-img-ticket {
  height: 50px;
  width: 50px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-ticket{
  max-height: 50px;
  max-width: 50px;
}
.ticket-show-title{
  margin: 10px 0px 5px;
}

.ticket-date{
  margin: 0;
}

.ticket-line-unidentified {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  border-bottom: 1px solid $light-gray;
  padding: 5px 0px;

  p {
    color: $gray;
    margin: 0;
  }
}
