.ticket-line {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $light-gray;
    padding: 5px 0px;
}

.ticket-line-info {
  flex-grow: 1;
  padding: 0px 10px;
  margin: 0.5rem 0;
}

.ticket-line .product-brand {
  color:$gray;
  margin: 0;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.ticket-line .product-name {
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.ticket-icon {
  text-align: right;
}

.product-img-ticket {
  width: auto;
  height: 50px;
  border-radius: 5%;
  text-align: center;
}
.img-ticket{
  height: 50px;
  width: auto;
}

.ticket-line-unidentified {
    justify-content: space-between;
}
