<h1>Voici la "show" pour ce produit :></h1>

<p>Nom :<%=  @product.name%></p>

<p>Code bar :<%=  @product.bar_code%></p>

<% if Favorite.find_by(user_id: current_user, product_id: @product.id).nil?%>
  <%= link_to "Petit coeur vide", favorites_path(product: @product.id), method: :post %>
<% end %>
<% if Favorite.find_by(user_id: current_user, product_id: @product.id)%>
  <%= link_to "Petit coeur plein", favorite_path(Favorite.find_by(user_id: current_user, product_id: @product.id).id), method: :delete %>
<% end %>
